body{
    background-color: black;
}

.center{
    color: white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    gap: 10px;
    font-size:xx-large;
    padding: 5px;

}

#clock{
    padding: 10px 10px;
    width: 150px;
    height: 50px;
    background-color: orange;
    border-radius: 5px;
}